.affinipay_wrapper {
    display: block;
    position: relative;
}
.affinipay_wrapper .clear {
    clear: both;
}
.affinipay_wrapper:after {
    clear: both;
}

.affinipay_wrapper .col-sm-8 {
    float: left;
    width: 60%;
}
.affinipay_wrapper .col-sm-4 {
    float: left;
    width: 40%;
}
.affinipay_wrapper .col-sm-6 {
    float: left;
    width: 50%;
}
.affinipay-wrapper .col-sm-12 {
    float: left;
    width: 100%;
}

.affinipay-wordpress-error {
    background: red;
    display: block;
    padding: 8px;
    color: #FFF;
}