
.affinipay_wrapper .affinipay_test_header_row {

}
.affinipay_wrapper .affinipay_test_header_row div {
    background: #777;
    color: #FFF;
    line-height: 1.8em;
    font-weight: bold;
    text-align: center;
}

.affinipay_wrapper .affinipay_test_row {
    position: relative;
    border-bottom: 1px solid #777;
    line-height: 1.8em;
}
.affinipay_wrapper .affinipay_test_row .col-sm-6 {
    font: inherit;
    font-weight: 500;
    line-height: 1.8em;
}
.affinipay_wrapper .affinipay_test_row .col-sm-12 {
    font: inherit;
    font-size: 11px;
    font-weight: 100;
    line-height: 1.8em;
}

.affinipay_wrapper .affinipay_test_row div:nth-child(2) {
    text-align: right;
}

.affinipay_wrapper .affinipay_test_row:after {
    display: block;
    content: '';
    height: 0;
    clear: both;
}

.affinipay_wrapper .primary_account {
    color: forestgreen;
}

.affinipay_wrapper .center {
    text-align: center;
}

.affinipay_wrapper .merchant_account_list th {
    background: #777;
    color: #FFF;
}
.affinipay_wrapper .merchant_account_list tr {
    border-top: 1px solid #333;
}
.affinipay_wrapper .merchant_account_list td {
    margin: 0px;
    border-top: 1px solid #999;
}

.affinipay_wrapper .frm_row {
    margin: 10px 0px;
}

.affinipay_wrapper .frm_row:after {
    clear: both;
}

.affinipay_wrapper .pull-right {
    float: right;
}
.affinipay_wrapper .pull-left {
    float: left;
}

.affinipay_wrapper .form-control {
    width: 100%;
    border-radius: 4px;
}

.affinipay_wrapper .section {
    border: 1px solid #BBB;
    border-radius: 8px;
    margin: 10px;
    padding: 10px 15px;
}
.affinipay_wrapper h3 {
    margin: 0.2em 0 1.0em;
}

.affinipay_wrapper .code {
    font-size: 1.4em;
}

.affinipay_wrapper .section textarea {
    resize:none; border: 0 none;  outline : none;caret-color: transparent !important; display:block; width:100%; padding: 0.5em; margin: 0px;
}